APP_ENV=localhost

# Database (MySQL)
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sistema_reserva
DB_USERNAME=root
DB_PASSWORD=

# Optional tuning
DB_CHARSET=utf8
DB_COLLATION=utf8_unicode_ci

# Mail (PHPMailer SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=dc20026@ues.edu.sv
SMTP_PASS=wpqt yqtv jlfr ifhy
SMTP_SECURE=tls
SMTP_AUTH=true
MAIL_FROM=reserva.tpi115.cancha@gmail.com
MAIL_FROM_NAME=Canchas_SV
